<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <legend class="text-center">Activation</legend>
                        <div class="form-horizontal" style="text-align: center">
                            <h2>Activation Results : {{activation}}</h2>
                            <a href="#/login">Take me to login</a>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

